.no-margin{
  margin: 0px 0px 0px 0px !important;
}
.mega-nav{
  height: 160px;
}
.mega-nav-padding{
  padding-bottom: 10px;
}
.mega-nav-item {
  text-decoration: underline;
}

.logo_footer{
    margin-top: -10px !important;
}

.reseau_social_footer {
    line-height: 2 !important;
}

.card-panel-taille {
    padding: 1px !important;

}

.p_type{
    text-align: justify;
}

.container{
   width: 91% !important;
}

.image-telechargement{
 width: 100% !important;
}

.btn-telechargement{
    display: block;
}

.espace-bottom{
 margin-bottom: 5px !important;
}
